{{template "base" .}}

{{define "content"}}

<div class="container mt-5">
    <main>
        <section>
            <h1 class="display-4">About Bead & Breakfast</h1>
            <p class="lead">Welcome to Bead & Breakfast, where comfort meets charm. Our bed and breakfast, located at
                221B Baker Street in the heart of London, has been providing exceptional hospitality since 1885</p>

            <p>At Bead & Breakfast, we believe in creating a home away from home for our guests. Our cozy rooms,
                personalized service, and attention to detail make every stay memorable.</p>

            <h2 class="mt-5">Our Mission</h2>
            <p>Our mission is to provide a warm and inviting atmosphere for travelers, ensuring a delightful experience
                and a restful stay.</p>

            <h2 class="mt-5">Why Choose Us?</h2>
            <p>1. Comfortable Accommodation: Enjoy a range of well-appointed rooms designed for your relaxation.</p>
            <p>2. Prime Location: Explore the beauty of London with easy access to iconic landmarks and attractions.</p>
            <p>3. Exceptional Service: Our dedicated staff is committed to making your stay enjoyable and stress-free.
            </p>

            <h2 class="mt-5">Contact Us</h2>
            <p>If you have any questions or inquiries, feel free to reach out to us. We look forward to welcoming you to
                Bead & Breakfast!</p>
            <p>Email: <a href="mailto:info@beadandbreakfast.com">info@beadandbreakfast.com</a></p>
        </section>
    </main>
</div>
{{end}}