{{template "base" .}}

{{define "content"}}

    <div class="container">
        <div class="row">
            <div class="col">
                <h1>About</h1>
                <p>This is the about page</p>

                <p>This is from the Template : {{index .StringMap "test"}}</p>

                <p>
                   {{if ne (index .StringMap "remote_ip") ""}}
                        Your IP is {{index .StringMap "remote_ip"}}
                    {{else}}
                        Your IP is unknown. Visit the <a href="/">Home Page</a> to tell us your IP.
                    {{end}}
                </p>
            </div>
        </div>
    </div>

{{end}}